{
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "trailingComma": "es5",
  "importOrder": [
    "^react(.*)",
    "^@tanstack/(.*)$",
    "^@map/(.*)$",
    "^@marker/(.*)$",
    "^@utils/(.*)$",
    "^@stores/(.*)$",
    "^@hooks/(.*)$",
    "^@common/(.*)$",
    "^@components/(.*)$",
    "^@ui/(.*)$",
    "^App",
    "^mocks",
    "^@style",
    "^style/(.*)$",
    "^@constants",
    "^@type",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
