server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/charge?useSSL=false&serverTimezone=UTC&useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true
    username: root
    password: root
  driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
  flyway:
    enabled: false
  profiles:
    active: local
jasypt:
  encryptor:
    bean: jasyptEncryptor
    password: ${ENCRYPT_KEY}

api:
  service_key:
    ENC(9Gw2IrF1u/7Pt/rcC1Rwp7vbO7k34/al/B9/KRJ+cghR7xAivEN3fgfx+6nXtdFDCqPDi+Zj6tKc52diibRDXlb3XcaC9L7S3Ruafwnp6Em23om/VxqwbEMPRAt/VU++H/myjcB61RA=),
    ENC(Koj9uZI7YtwNsnJecp/SDimwWJeK9n3zzbWPxlmwtprE2h05hStPQ+W4T344V4Y7SJbo5zpx7b0nHCH+7JOUgMJAk/ctr9F4ZUMD8894s9d1sI4cwIGht4XZDOIlWd8ZjUCk63l0C/4=),
    ENC(3SYxfkd6fWdjkFuGbK/3+5ot1td2eqTngVAynzJj4o3/6CuRiW4mkLltHRynNLL3Tawlqqd39iQCuQEANWhpFpbvnpVfZeEzgOtY96xlJ9lzNu0Z8ONAUQIIKH+LN7tbUfGtSjfFUmE=),
    ENC(lU0FBnShiEmEVKr3rQTW7a6BjLslR9/0Gv8Y596dNqGXVh7KJEQRlZViIzKo0fxX6KiMWyFuTdWrrH2D7ylp73JlDdVaCpUte9G1dUghSHFsb28z2B6bIAPM5uZj7MB4EdkblDbG+Mw=),
    ENC(Sdiq67tsnKr3xlFROykuG6efvhNA4tqATObZZEeirXxF4VnwHbwfd1BNMRA1EXQnm2asRfz0qOmMV1xKczfIwqveIRlOZtBPx74cE0tqI23tir6PX2913V22W21C0CuWapkqUAWv/uM=),
    ENC(/2YcNiK1XrrIM9ncuZBnIfUexobz4f+eRDUauI/VcoBzTbiY2VgVshA41nAQzzwrs7CWyKwJzkmf2DN6LCC82OJAg7TWOm4uCxtGcJ3mOsjlNiUYu8Mew2+2RhWjTBOceJLIUOBiXPo=),
    ENC(qCPTBO4uzXuWoTJ4vxJ6vNkueRbpj/bee/CMo1mNt9RsjK8hobh6hZLTCWC2qa6dR0S/bDpTgTBV9+HXZ2lYPrOQmyFUrYAznn3iGn+n7fxX2O5rqAgirimQgyFxxem61hJmSa2zyxE=)
initialize-charge:
  enabled: true
